@charset "UTF-8";

@import url(css/normalize.css);
@import url(css/fonts.css);
@import url(css/layout.css);
@import url(css/ui.css);
@import url(css/icons.css);
@import url(css/icons-font.css);
@import url(css/components.css);
@import url(css/auth.css);
@import url(css/main.css);
@import url(css/adaptive.css);

/* ========   Временные стили   ======== */
body>a:first-child{position: fixed;bottom: 16px;left: 16px;background: tomato;border-radius: 4px;color: #fff;font-weight: 300;padding: 7px 12px 8px;text-decoration: none;z-index: 5;}
/* ========   Временные стили   ======== */
